useDynLib(moprobit, .registration=TRUE)
export(moprobit_init, moprobit_iter, moprobit_chain, rCIW)
export(chain_to_mcmc, get_toc, get_acf, Rhat)
importFrom(Rcpp, evalCpp)
import(dplyr, tidyr)
importFrom(stats, setNames, model.frame, model.matrix, acf, formula, na.pass,
           lm, coef, var, sd, residuals, glm, binomial, terms)
importFrom(Matrix, Matrix)
importFrom(coda, as.mcmc)

